{% layout './layouts/base.liquid' %}
{% block content %}

{% assign people = people | sort: "sort_name" %}

<div id="people-section">
	<h3 class="grid-title">Members</h3>
	<div class="people-grid grid group">
	{% for p in people %}
		{% if p.group == 'Members' %}
		<div class="people box">
			<a class="thumb" href="{{ locale}}/{{p.wp_id}}" title="{{p.name[locale]}}">
				<img src="{{p.thumbnail_id}}" class="attachment-member-image size-member-image wp-post-image" alt="" loading="lazy" />
			</a>
			<a class="entry" href="{{locale}}/{{p.wp_id}}" title="{{p.name[locale]}}">
				<h2><span>{{p.name[locale]}}</span></h2>
				<span class="subtitle">{{p.subtitle[locale]}}</span>
			</a>
		</div>
		{% endif %}
	{% endfor %}
	</div>


	<h3 class="grid-title">Associates</h3>
	<div class="people-grid grid group">
	{% for p in people %}
		{% if p.group == 'Associates' %}
			<div class="people box">
			<a class="thumb" title="{{p.name[locale]}}">
				<img src="{{p.image}}" class="attachment-member-image size-member-image wp-post-image" alt="" loading="lazy" />
			</a>
			<a class="entry" title="{{p.name[locale]}}">
				<h2><span>{{p.name[locale]}}</span></h2>
				<span class="subtitle">{{p.subtitle[locale]}}</span>
			</a>
		</div>
		{% endif %}
	{% endfor %}
	</div>


	<h3 class="grid-title">Students</h3>
	<div class="people-grid grid group">
	{% for p in people %}
		{% if p.group == 'Students' %}
		<div class="people box">
			<a class="thumb" title="{{p.name[locale]}}">
				<img src="{{p.image}}" class="attachment-member-image size-member-image wp-post-image" alt="" loading="lazy" />
			</a>
			<a class="entry" title="{{p.name[locale]}}">
				<h2><span>{{p.name[locale]}}</span></h2>
				<span class="subtitle">{{p.subtitle[locale]}}</span>
			</a>
		</div>
		{% endif %}
	{% endfor %}
	</div>

	<div class="column">
		<h3>Past Members</h3>
		<div class="people-list">
			<ul>
			{% for p in people %}
				{% if p.group == 'Past Members' %}
				<li>{{p.name[locale]}}</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="column">
		<h3>Past Students</h3>
		<div class="people-list">
				<ul>
				{% for p in people %}
					{% if p.group == 'Past Students' %}
					<li>{{p.name[locale]}}</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}