{% layout './layouts/base.liquid' %}
{% block content %}
<!--<div id="projects-filter" class="sort-filters nav-menu">
	<ul>
    <li class="all active"><a href="#" data-filter="*" data-type="single">All</a></li>
		<li><a href="#" data-filter=".prototyping" data-type="single">Prototyping</a></li>
		<li><a href="#" data-filter=".speculation" data-type="single">Speculation</a></li>
		<li><a href="#" data-filter=".maps" data-type="single">Maps</a></li>
		<li><a href="#" data-filter=".mobile" data-type="single">Mobile</a></li>
		<li><a href="#" data-filter=".multitouch" data-type="single">Multitouch</a></li>
		<li><a href="#" data-filter=".security" data-type="single">Security</a></li>
		<li><a href="#" data-filter=".tangible" data-type="single">Tangible</a></li>
		<li><a href="#" data-filter=".visualization" data-type="single">Visualization</a></li>
	</ul>
</div>-->

<div id="projects-grid" class="grid">
{% assign projects = projects| sort: "year" %}
{% for p in projects %}
	<div class="project box">
		<a class="thumb" href="{{p.page}}" title="{{p.title}}">
			<img src="{{p.image}}" class="attachment-grid-thumb size-grid-thumb wp-post-image" alt="" loading="lazy" />
		</a>
		<a class="entry" href="{{p.page}}" title="{{p.title}}">
			<h2><span>{{p.title}}</span></h2>
			<span class="subtitle">{{p.subtitle}}</span>
		</a>
	</div>
{% endfor %}
</div>

{% endblock %}