{% include 'header.liquid' %}
{{ content }}

<ul>
{% for p in projects | sort: "year" %}
	<li>
		<a class="thumb" href="{{p.page}}" title="{{p.title}}">
			<img src="{{p.image}}" class="attachment-grid-thumb size-grid-thumb wp-post-image" alt="" loading="lazy" />
		</a>
		<a class="entry" href="{{p.page}}" title="{{p.title}}">
			<h2><span>{{p.name[locale]}}</span></h2>
			<span class="subtitle">{{p.subtitle[locale]}}</span>
		</a>
	</li>
{% endfor %}
</ul>

{% include 'footer.liquid' %}